---
extends: default

rules:
  line-length:
    max: 100  # Increase line length limit to 100 characters
    allow-non-breakable-words: true
  truthy:
    allowed-values: ['YES', 'Yes', 'yes', 'NO', 'No', 'no', 'TRUE', 'True', 'true', 'FALSE', 'False', 'false', 'ON', 'On', 'on', 'OFF', 'Off', 'off']
