---
extends: default

rules:
  line-length:
    max: 100  # Increase line length limit to 100 characters
    allow-non-breakable-words: true
  truthy:
    allowed-values: [true, false]  # Enforce true/false for truthy values
